.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--dark-logan);
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 15px;
    font-weight: 500;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-pages {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-socials {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin-top: 2px;
    padding: 0;
}

.nav-socials li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.enquire-link {
    color: #bce44f;
}

.enquire-link:hover {
    color: #bce44f90;
}

.nav-socials a {
    padding: 0;
    margin: 0;
}

.menu-icon,
.mobile-menu-conteiner {
    display: none;
}

@media (max-width: 768px) {
    .nav-links ul {
        display: none;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        gap: 15px;
        font-weight: 500;
    }

    .nav-socials {
        display: none;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
        margin-top: 2px;
        padding: 0;
    }

    .menu-icon,
    .mobile-menu-conteiner {
        display: block;
        margin: 0;
        cursor: pointer;
    }

    .mobile-menu-conteiner {
        background: var(--dark-logan);
        backdrop-filter: blur(0px);
        left: 0;
        right: 0;
        margin: 15px 20px;
        z-index: 600;
        border-radius: 10px;
        position: fixed;
        transform: translateY(-200%);
        transition: all 500ms cubic-bezier(0.3, 0.96, 0.59, 0.95);
    }

    .menu-items {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        font-size: 20px;
        padding: 0px 0px 10px 20px;
    }

    .menu-items li {
        margin: 0;
        padding: 0;
        font-weight: 500;
    }

    .mobile-menu-conteiner.active {
        transform: translateY(-79px);
    }

    .mobile-menu-conteiner .close-icon {
        position: fixed;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }
}