:root {
  --bisque: #fbe7c4;
  --yellow: #d7af6a;
  --bg: #faf2e4;
  --red: #a30408;
  --box: #ffffff40;
  --nav: #e9111120;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html { 
  scroll-behavior: smooth;
} 


body {
  margin: 0;
  padding: 0;
  font-family: "Outfit";
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #181918;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 0;       /* roundness of the scroll thumb */
  border: 1px solid white;  /* creates padding around scroll thumb */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background: #181918;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffffff80;
}

.wrapper {
  max-width: 708px;
  margin: 0 auto;
}